<html>

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <%- include('./partials/navbar'); %>
    <div class="hero-body">
        <div class="botcard">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-96x96">
                            <img src="<%= boti.avatar %>" class="avatar">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4"><%= boti.name %></p>
                        <p class="subtitle is-6"><strong>Prefixo:</strong> <%= boti.prefix %></p>
                    </div>
                </div>
                <div class="content">
                    <%= boti.descc %>
                    <hr>
                    <div class="field has-addons">
                        <p class="control">
                            <a href="/bots/<%= boti.bot %>/add">
                                <button class="button is-success">
                                    <span class="icon is-small">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span>Adicionar</span>
                                </button>
                            </a>
                        </p>
                        <p class="control">
                            <a href="/bots/<%= boti.bot %>/discord">
                                <button class="button is-link">
                                    <span class="icon is-small">
                                        <i class="fas fa-paper-plane"></i>
                                    </span>
                                    <span>Suporte</span>
                                </button>
                            </a>
                        </p>
                        <p class="control">
                            <a href="/bots/<%= boti.bot %>/website">
                                <button class="button is-link">
                                    <span class="icon is-small">
                                        <i class="fas fa-window-restore"></i>
                                    </span>
                                    <span>Website</span>
                                </button>
                            </a>
                        </p>
                        <% if (botOwner) { %>
                        <p class="control">
                            <a href="/bots/<%= boti.bot %>/edit">
                                <button class="button is-warning">
                                    <span class="icon is-small">
                                        <i class="fas fa-clipboard-list"></i>
                                    </span>
                                    <span>Editar</span>
                                </button>
                            </a>
                        </p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <form action="/api/bots/<%= boti.bot %>/vote" method="POST">
                <input type="hidden" name="userid" value="<%= user.id %>"><section class="ftco-section pb-0">
                    <br>
                    <button type="submit" class="button is-success">
                        Votar
                    </button>
            </form>
        </center>
    </div>
    <%- include('./partials/footer'); %>
</body>

</html>